{
  "ignore": false,

  "presets": [
    "es2015"
  ],

  "plugins": [
    "transform-class-properties",
    "transform-decorators-legacy",
    "syntax-async-functions",
    "syntax-async-generators",
    "transform-regenerator",
    "transform-object-rest-spread"
  ]
}
