{
  "extends": [
    "airbnb-base",
    "prettier",
  ],
  "env": {
    "node": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "trailingComma": "all",
      // "bracketSpacing": false,
      "jsxBracketSameLine": true,
    }],
    "no-underscore-dangle": [0]
  },
  "plugins": [
    "prettier",
  ],
  "settings": {
    "ecmascript": 7,
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "modulesDirectories": ["node_modules"]
      }
    }
  },
}
