{
  "extends": [
    "prettier",
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "trailingComma": "all",
    }],
    "no-underscore-dangle": [0],
  },
  "plugins": [
    "prettier"
  ],
  "settings": {
    "ecmascript": 7,
  },
  "globals": {
  }
}
